/PronounceIT_mobile/.gradle/8.11.1
/PronounceIT_mobile/.gradle
PronounceIT_mobile/.gradle/8.11.1/checksums/checksums.lock
PronounceIT_mobile/.gradle/8.11.1/checksums/checksums.lock
PronounceIT_mobile/.gradle/8.11.1/checksums/md5-checksums.bin
PronounceIT_mobile/.gradle/8.11.1/checksums/sha1-checksums.bin
PronounceIT_mobile/.gradle/8.11.1/fileHashes/fileHashes.bin
PronounceIT_mobile/.gradle/buildOutputCleanup/buildOutputCleanup.lock
PronounceIT_mobile/.gradle/8.11.1/fileHashes/fileHashes.bin
PronounceIT_mobile/.gradle/8.11.1/checksums/sha1-checksums.bin
